@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.meet {
    font-family: 'Inter', sans-serif;
    
  }

  .ellipse{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 22%;
    top: -45px;

  background: 
  #D9D9D9;
  border-radius: 50%;
  }

  .rectangle18{
    position:absolute;
    width: 217px;
    height: 59px;
    left: 93.5%;
    top: 536px;
    
    
    background: #EA2678;
    border-radius: 29.5px;
  }
  
  .ellipse11 {
    box-sizing: border-box ;
  
  position:relative;
  width: 121px;
  height: 121px;
  left: 54.4%;
  top: -20px;
  margin-left: 30rem;
  margin-top: -140px;
  
  border: 21px solid #D9D9D9;
  border-radius: 50%;
  }

  .rectangle22 {
    position: absolute;
    width: 181px;
    height: 49px;
    left: -3.7%;
    top: 1200px;
    margin-top: -1rem;
    
    background: #525252;
    border-radius: 29.5px;
  }
